<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">

      <div class="panel-body">
        <h1>New Provider</h1>
        <hr>
        <%= link_to 'Back', providers_path,class:"btn btn-md btn-warning" %>
<hr>



<%= render 'form', provider: @provider,class:"btn btn-md btn-default" %>

      </div>
    </div>
  </div>
</div>