<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">

      <div class="panel-body">
        <h1>Nouveau service</h1>
        <hr>
        <%= link_to 'Back', services_path ,class:"btn btn-md btn-warning" %>
        <hr>



        <%= render 'form', service: @service %>
      </div>
    </div>
  </div>
</div>





