<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">

      <div class="panel-body">
        <h1> Editing Family : <%= @family.name %></h1>
        <hr>

        <%= link_to 'Show', @family ,class:"btn btn-md btn-success"%> |
        <%= link_to 'Back', families_path ,class:"btn btn-md btn-warning"%>
<hr>
<%= render 'form', family: @family %>

      </div>
    </div>
  </div>
</div>