
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <h1> Family : <%= @family.name %></h1>
<hr>
          <%= link_to 'Edit', edit_family_path(@family),class:"btn btn-md btn-primary" %> |
          <%= link_to 'Back', families_path,class:"btn btn-md btn-warning" %>
          <hr>



          <div class="col-sm-12">
            <div class="panel panel-success">
              <div class="panel-heading"><strong>Name </strong></div>
              <div class="panel-body"><p class="text-center" ><font size="8" color="green">   <%= @family.name %></font></p></div>
            </div>
          </div>



        </div>
    </div>
  </div>
</div>
</div>