<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">

      <div class="panel-body">
        <h1>Nouvel employé</h1>
        <hr>
        <%= link_to 'Back', users_path,class:"btn btn-md btn-warning" %>
        <hr>





        <%= render 'form', user: @user %>

      </div>
    </div>
  </div>
</div>
