<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">

      <div class="panel-body">
        <h1> Editing Purchase : <%= @purchase.date %></h1>
        <hr>
        <%= link_to 'Show', @purchase ,class:"btn btn-md btn-success"%> |
        <%= link_to 'Back', purchases_path ,class:"btn btn-md btn-warning"%>
        <hr>


<%= render 'form', purchase: @purchase %>


      </div>
    </div>
  </div>
</div>