<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">

      <div class="panel-body">
        <h1>New Purchase</h1>
        <hr>
        <%= link_to 'Back', purchases_path ,class:"btn btn-md btn-warning"%>
<hr>

        <%= render 'form', purchase: @purchase ,class:"btn btn-md btn-default"%>

      </div>
    </div>
  </div>
</div>