<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">

      <div class="panel-body">
        <h1>Nouveau departement</h1>
        <hr>
        <%= link_to 'Back', departments_path, class: "btn btn-md btn-warning" %>
        <hr>
        <%= render 'form', department: @department %>
      </div>
    </div>
  </div>
</div>