<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">

      <div class="panel-body">
        <h1> Editing Customer : <%= @customer.raison %></h1>
        <hr>
        <%= link_to 'Show', @customer ,class:"btn btn-md btn-success"%> |
        <%= link_to 'Back', customers_path,class:"btn btn-md btn-warning" %>
<hr>

<%= render 'form', customer: @customer %>


      </div>
    </div>
  </div>
</div>