<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">

      <div class="panel-body">
        <h1> New Customer</h1>
        <hr>
        <%= link_to 'Back', customers_path,class:"btn btn-md btn-warning" %>
        <hr>


<%= render 'form', customer: @customer %>


      </div>
    </div>
  </div>
</div>