

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">

        <div class="panel-body">
          <h1> Roles : <%= @role.label %></h1>
          <hr>

          <%= link_to 'Edit', edit_role_path(@role),class:"btn btn-md btn-primary" %> |
          <%= link_to 'Back', roles_path,class:"btn btn-md btn-warning" %>

<hr>

          <div class="col-sm-12">
            <div class="panel panel-success">
              <div class="panel-heading"><strong>Label </strong></div>
              <div class="panel-body"><p class="text-center" ><font size="8" color="green">    <%= @role.label %></font></p></div>
            </div>
          </div>





        </div>
      </div>
    </div>
  </div>
</div>