<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">

      <div class="panel-body">
        <h1> Editing Product : <%= @product.name %></h1>
        <hr>
        <%= link_to 'Show', @product,class:"btn btn-md btn-success" %> |
        <%= link_to 'Back', products_path,class:"btn btn-md btn-warning" %>

        <br>
        <br>


        <div class="panel panel-default">
          <div class="panel-body">

<%= render 'form', product: @product %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>