<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">

      <div class="panel-body">
        <h1> Editing Sale : <%= @sale.date %></h1>
        <hr>
        <%= link_to 'Show', @sale,class:"btn btn-md btn-success" %> |
        <%= link_to 'Back', sales_path ,class:"btn btn-md btn-warning"%>
        <hr>

<%= render 'form', sale: @sale %>


      </div>
    </div>
  </div>
</div>